//variables
$bg_colour:darkcyan;

*{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding-top: 60px;
}
h2{
    color: green;
}
.nav-background-c{
    background-color: lightgray;
}
#heading{
    text-align: center;
}
div{
    section{
        h1{
            color:lightslategray;
        }
    }
}
%fontchange{
    font-weight: 200;
    font-family: Verdana, sans-serif;
}
.tabledata{
    @extend %fontchange;
    color: lightseagreen;
}
@media print{
    body {
      background-color: $bg_colour;
    }
  }